// 边框倒角大小
$radiusSize: 6px;
// 字体大小
$baseSize:14px;
$bigerSize:16px;//0.48
$bigestSize:18px;
$smallSize:12px;
// 基本字体色彩
$title: #17233d;
$content: #515a6e;
$subColor: #808695;
$disabled: #c5c8ce;
$border: #dcdee2;
$divider: #e8eaec;
$background: #f8f8f9;
// 辅助色 
$primary:#2d8cf0;
$lightPrimary:#5cadff;
$darkPrimary: #2b85e4;
$info: #2db7f5;
$success: #19be6b;
$warning:#ff9900;
$error: #ed4014;


